<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Login page must be reachable by anonymous users; every other page is protected by the deny rule below. -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpHandlers>
      <add verb="*" path="Handlers/*.ashx" type="System.Web.UI.SimpleHandlerFactory" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="TokenHandler" verb="POST,OPTIONS" path="Handlers/TokenHandler.ashx"
           type="LegacyShell.Handlers.TokenHandler, LegacyShell" resourceType="Unspecified" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!-- Allow the Expo web frame to receive postMessage from this shell -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
